# Server Configuration
PORT=3000

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyDOIt7fmrcHiL8VJbqXqaw-bBmzVuLxxvo
FIREBASE_PROJECT_ID=ravanatec
FIREBASE_AUTH_DOMAIN=ravanatec.firebaseapp.com
FIREBASE_STORAGE_BUCKET=ravanatec.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=43608207475
FIREBASE_APP_ID=1:43608207475:web:4be9d1bc1698e8ae1e3a06
FIREBASE_MEASUREMENT_ID=G-47HKDPCRH5
